<template>
  <div class="base-view">
    <div class="top">
      <a href="/lobby">Lobby</a>
    </div>
    <div class="screen" ref="parent"></div>
  </div>
</template>

<script>

import World from '../modules/World';
import endpoint from '../config/index'
import config from '../config/index';

export default {
	name: 'BaseView',
	data () {
		return {
      pressing: []
		}
	},
	methods: {
		OnConnected(scene) {
      const pressing = this.pressing;

			function animate() {
				scene.Update();
				scene.entities.forEach(entity => entity.Update())
				scene.renderer.render( scene.scene, scene.camera );
        scene.pressing = pressing;

				requestAnimationFrame( animate );
			}
			animate();

      document.addEventListener('keydown', (e) => {
        scene.OnKeyDown(e);
				scene.entities.forEach(entity => entity.OnKeyDown(e))

        this.pressing[e.key] = true;
      })
      document.addEventListener('keyup', (e) => {
        scene.OnKeyDown(e);
				scene.entities.forEach(entity => entity.OnKeyUp(e))

        this.pressing[e.key] = false;
      })
		},
    LoadLobby() {
      location.href = '/lobby'
    }
	},
	mounted() {
		const config_ = {
			parent: this.$refs.parent,
			wrapper: this,
			sceneId: this.$route.params.sceneId,
			endpoint: config.endpoint,
		}

		const world = new World(config_);
	}
}
</script>

<style scoped>

</style>
