<template>
  <div class="lobby">
    <div class="header">
      <h2>Lobby</h2>
      <button @click="newGame()">New game</button>
    </div>
    <table>
      <thead>
        <th>Name</th>
        <th>Players</th>
      </thead>
      <tbody>
        <tr v-for="(lobby, key) in lobbies" :key="lobby.id" @click="openGame(lobby)">
          <td>Game {{key + 1}}</td>
          <td>{{lobby.players}}/4</td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>

import axios from 'axios';
import { v4 } from 'uuid';
import config from '../config';

export default {
  name: 'Lobby',
  data() {
    return {
      lobbies: []
    }
  },
  methods: {
    getLobbies() {
      axios.get(config.endpoint + '/lobbies')
        .then(result => {
          this.lobbies = result.data;
        })
    },
    openGame(lobby) {
      if (lobby.players > 3) {
        alert('Game is full')
        return;
      }
      location.href = '/' + lobby.id;
    },
    newGame() {
      location.href = '/' + v4();
    }
  },
  created() {
    this.getLobbies();

    setInterval(() => {
      this.getLobbies();
    }, 2000)
  }
}
</script>

<style>

html, body {
  margin: 0;
  padding: 0!important;
}

.header {
  display: flex;
}

.lobby {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #469b9a!important;
  overflow: hidden;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr { cursor: pointer;}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4ca8af;
  color: white;
}

</style>
